[workspace]
members = [
    ".",
    "./managers/network",
    "./managers/repository",
    "./managers/blockchain",
    "./managers/validation",
    "./managers/triple-store",
    "./tools/local_network",
    "./rdf-canonize",
]

resolver = "2"

[package]
name = "rust-ot-node"
version = "0.1.0"
rust-version = "1.92.0"
edition = "2024"

[workspace.dependencies]
# Internal crates
blockchain = { path = "./managers/blockchain" }
network = { path = "./managers/network" }
repository = { path = "./managers/repository" }
validation = { path = "./managers/validation" }
triple-store = { path = "./managers/triple-store" }
rdf-canonize = { path = "./rdf-canonize" }

# Common dependencies shared across workspace
tokio = { version = "1.49.0", features = [
    "macros",
    "rt-multi-thread",
    "sync",
    "time",
    "fs",
    "io-util",
] }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"
tracing = "0.1.44"
thiserror = "2.0.17"
chrono = "0.4.43"
uuid = { version = "1.19.0", features = ["serde", "v4"] }

# Other shared dependencies
clap = "4.5.54"
alloy = { version = "1.4.3", features = ["full", "signer-local"] }
libp2p = { version = "0.56.0", features = ["macros"] }
sha2 = "0.10"
subxt = "0.38"

# HTTP client
reqwest = { version = "0.12", features = ["json"] }

# Main binary specific (can be referenced by others if needed)
futures = "0.3.31"
tracing-subscriber = "0.3.22"
axum = "0.8.8"
tower = "0.5.3"
tower-http = { version = "0.6.8", features = ["cors"] }
hyper = "1.8.1"
dotenvy = "0.15.7"
validator = "0.20.0"
validator_derive = "0.20.0"
figment = { version = "0.10", features = ["toml"] }

[dependencies]
blockchain.workspace = true
network.workspace = true
repository.workspace = true
validation.workspace = true
triple-store.workspace = true
rdf-canonize.workspace = true
tokio.workspace = true
futures.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
serde.workspace = true
serde_json.workspace = true
uuid.workspace = true
axum.workspace = true
tower.workspace = true
tower-http.workspace = true
hyper.workspace = true
chrono.workspace = true
dotenvy.workspace = true
clap.workspace = true
validator.workspace = true
validator_derive.workspace = true
figment.workspace = true
thiserror.workspace = true
libp2p.workspace = true
alloy.workspace = true
sha2.workspace = true
dashmap = "6.1.0"
redb = "2.1"

[dev-dependencies]
tempfile = "3.24.0"

[workspace.lints]
rust.unreachable_pub = "warn"
clippy.used_underscore_binding = "warn"
clippy.pedantic = { level = "allow", priority = -1 }
clippy.type_complexity = "allow"
clippy.unnecessary_wraps = "warn"
clippy.manual_let_else = "warn"
clippy.dbg_macro = "warn"
clippy.unwrap_used = "warn"
