[package]
name = "rust-ot-node"
version = "0.1.0"
rust-version = "1.92.0"
edition = "2024"

[dependencies]
tokio = { version = "1.49.0", features = [
    "macros",
    "rt-multi-thread",
    "sync",
    "time",
    "fs",
    "io-util",
] }
futures = "0.3.31"
tracing = "0.1.44"
tracing-subscriber = "0.3.22"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"
uuid = { version = "1.19.0", features = ["serde", "v4"] }
axum = "0.8.8"
tower = "0.5.3"
tower-http = { version = "0.6.8", features = ["cors", "trace", "limit"] }
tower_governor = "0.8"
governor = "0.10"
hyper = "1.8.1"
chrono = "0.4.43"
dotenvy = "0.15.7"
validator = "0.20.0"
validator_derive = "0.20.0"
figment = { version = "0.10", features = ["toml"] }
thiserror = "2.0.18"
libp2p = { version = "0.56.0", features = ["macros", "kad", "identify", "request-response", "json", "noise", "tcp", "tokio"] }
alloy = { version = "1.5.2", default-features = false, features = [
    "std",
    "contract",
    "network",
    "providers",
    "provider-http",
    "provider-ws",
    "reqwest",
    "rpc-client",
    "rpc-types",
    "signer-local",
    "sol-types",
] }
sha2 = "0.10"
subxt = "0.44.2"
reqwest = { version = "0.13.1", features = ["json"] }
dashmap = "6.1.0"
async-trait = "0.1"
blake2b_simd = "1.0"
redb = "3.1.0"
sea-orm = { version = "1.1.19", features = [
    "sqlx-mysql",
    "runtime-tokio-rustls",
    "macros",
] }
sea-orm-migration = "1.1.19"
libp2p-mplex = "0.43.1"
twox-hash = "2.1.2"
void = "1.0.2"
oxigraph = { version = "0.5.3" }

[features]
dev-tools = ["dep:clap"]

[dependencies.clap]
version = "4.5.54"
features = ["derive"]
optional = true

[dev-dependencies]
tempfile = "3.24.0"

[lints.rust]
unreachable_pub = "warn"

[lints.clippy]
used_underscore_binding = "warn"
pedantic = { level = "allow", priority = -1 }
type_complexity = "allow"
unnecessary_wraps = "warn"
manual_let_else = "warn"
dbg_macro = "warn"
unwrap_used = "warn"
