[workspace]
members = [
    ".",
    "./managers/network",
    "./managers/repository",
    "./managers/blockchain",
    "./managers/validation",
    "./tools/local_network",
    "./rdf-canonize",
    "./scripts"
]

[package]
name = "rust-ot-node"
version = "0.1.0"
edition = "2021"

[dependencies]
blockchain = { path = "./managers/blockchain" }
network = { path = "./managers/network" }
repository = { path = "./managers/repository" }
validation = { path = "./managers/validation" }
rdf-canonize = {path = "./rdf-canonize"}
tokio = {version = "1.32.0", features = ["full"]}
futures = "0.3.28"
async-trait = "0.1.73"
tracing = "0.1.37"
tracing-subscriber = "0.3.17"
serde = { version = "1.0.188", features = ["derive"] }
serde_json = "1.0.107"
uuid = {version = "1.4.1", features = ["serde"]}
axum = "0.6.20"
tower = "0.4.13"
tower-http = { version = "0.4.3", features = ["full"] }
hyper = "0.14.27" # Provides useful middlewares
chrono = "0.4.31"
dotenvy = "0.15.7"
clap = "4.4.5"
validator = "0.16.1"
validator_derive = "0.16.0"
config = { version = "0.13.3", features = ["json"]}
thiserror = "1.0.49"
