[package]
name = "local_network"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio.workspace = true
serde.workspace = true
serde_json.workspace = true
clap.workspace = true
alloy.workspace = true
libp2p.workspace = true
reqwest.workspace = true
